$black_color : #3A3A3A;
$white_color : #FFFFFF;
$gray_color : #333333;
$primary_color : #603CB6;
$bg_color : #F7F0EA;

$h1_size : 70px;
$h2_size : 50px;
$h3_size : 40px;
$h4_size : 30px;
$h5_size : 20px;
$h6_size : 18px;

$body_normal_size : 16px;
$body_small_size : 14px;
$body_smaller_size : 12px;